*.html
*.docbook
procédure_relecture.txt
.gitignore
fr/docmessages/kstars/.svn
.svn
kstars.mo
fr/docmessages/kstars/messages.mo
messages.mo
fr/docmessages/kstars_old/
chronologie_documentation_kstars.ods
creation_html.sh

